<div class="user-details">
  <h1>Preface</h1>
  <p>Over the past decade, the rise of Internet and SaaS services has exploded the computation space. Coupled with cheaper and instant-access cloud services increases the customer expectations massively from a product. Software is supposed to be good, fast, and cheap OR instant, 24x7 and bug-free.</p>
  <p><strong>As a customer would expect, "It should just work".</strong></p>
  <p>As a Software gets complex, the velocity of change is arrested because of "necessary-distractions" TM like uptime, reliability, latency, security etc. While there are tools to measure and address these in silos, there are no frameworks/platform that address these much like how applicaton development has been standardized for rapid delivery of features.</p>
  <p>Every company/product has its own unique journey to tackle the "necessary-distractions" TM like uptime, latency, and security. Ironically, the passage of 10-to-million looks unique to every company/product and requires tremendous amount of time, failures, and efforts to get there. While what should have been unique was just the company/product and its offering.</p>
  <p><strong>Example</strong>: There is Ruby-on-rails, Django etc as an accepted framework for feature delivery, and there is kubernetes as an accepted operational platform, the throw-over-the-wall approach where gaps in the software are left to be addressed by the operational platform, and leaves each company to learn, fail, toil, repeat to build the runbooks of their success.</p>
  <p>A decade of work with such problem statements has taught us that the recipe to such reliable software is not just setting up auto-scaling, monitoring, alerting, and a 24x7 operations team, but a combination of heuristics and rules-of-thumb baked into the Software lifecycle itself.</p>
  <p>
    <img src="/assets/tweet.png" width="622" style="max-width: 100%;">
  </p>
  <h1>Solution</h1>
  <p>Overcoming "necessary-Distractions" TM is three-pass approach to us:</p>
  <p>
    <img src="/assets/platform.png" width="622" style="max-width: 100%;">
  </p>
</div>
